[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/rameshbabu79
[access "refs/for/refs/*"]
	read = group user/rameshbabu79
	push = group user/rameshbabu79
	label-Code-Review = -2..+2 group user/rameshbabu79
	label-Verified = -1..+1 group user/rameshbabu79
	rebase = group user/rameshbabu79
	removeReviewer = group user/rameshbabu79
	submit = group user/rameshbabu79
[access "refs/heads/*"]
	read = group user/rameshbabu79
	create = group user/rameshbabu79
	push = +force group user/rameshbabu79
	pushMerge = group user/rameshbabu79
[access "refs/tags/*"]
	push = +force group user/rameshbabu79
	pushTag = group user/rameshbabu79
	pushSignedTag = group user/rameshbabu79
